<% was_validated = recording.errors.any? %>

<%= form_with(model: recording, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% exhibit_class = "form-control" %>
    <% exhibit_was_invalid = recording.errors.include?(:exhibit) %>

    <% if was_validated %>
      <% if exhibit_was_invalid %>
        <% exhibit_class << " is-invalid" %>
      <% else %>
        <% exhibit_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :exhibit_id %>
    <%= f.collection_select :exhibit_id, Exhibit.all, :id, :to_s, {}, class: "form-control" %>
    <% if exhibit_was_invalid %>
      <% recording.errors.full_messages_for(:exhibit).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% audio_upload_class = "form-control" %>
    <% audio_upload_was_invalid = recording.errors.include?(:audio_upload) %>

    <% if was_validated %>
      <% if audio_upload_was_invalid %>
        <% audio_upload_class << " is-invalid" %>
      <% else %>
        <% audio_upload_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :audio_upload %>
    <%= f.file_field :audio_upload, class: "form-control" %>
    <% if audio_upload_was_invalid %>
      <% recording.errors.full_messages_for(:audio_upload).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% video_upload_class = "form-control" %>
    <% video_upload_was_invalid = recording.errors.include?(:video_upload) %>

    <% if was_validated %>
      <% if video_upload_was_invalid %>
        <% video_upload_class << " is-invalid" %>
      <% else %>
        <% video_upload_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :video_upload %>
    <%= f.text_field :video_upload, class: video_upload_class, placeholder: "Enter video upload" %>
    <% if video_upload_was_invalid %>
      <% recording.errors.full_messages_for(:video_upload).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
