<% was_validated = exhibit_comment.errors.any? %>

<%= form_with(model: exhibit_comment, local: true, novalidate: true, class: "mb-3") do |f| %>
  <!-- Label and input for commenter_id start -->
  <div class="form-group">
    <% commenter_class = "form-control" %>
    <% commenter_was_invalid = exhibit_comment.errors.include?(:commenter) %>

    <% if was_validated %>
      <% if commenter_was_invalid %>
        <% commenter_class << " is-invalid" %>
      <% else %>
        <% commenter_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :commenter_id %>
    <!-- Input for commenter_id start -->
    <%= f.collection_select :commenter_id, User.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for commenter_id end -->
    <% if commenter_was_invalid %>
      <% exhibit_comment.errors.full_messages_for(:commenter).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for commenter_id end -->
  <!-- Label and input for exhibit_id start -->
  <div class="form-group">
    <% exhibit_class = "form-control" %>
    <% exhibit_was_invalid = exhibit_comment.errors.include?(:exhibit) %>

    <% if was_validated %>
      <% if exhibit_was_invalid %>
        <% exhibit_class << " is-invalid" %>
      <% else %>
        <% exhibit_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :exhibit_id %>
    <!-- Input for exhibit_id start -->
    <%= f.collection_select :exhibit_id, Exhibit.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for exhibit_id end -->
    <% if exhibit_was_invalid %>
      <% exhibit_comment.errors.full_messages_for(:exhibit).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for exhibit_id end -->
  <!-- Label and input for comment_text start -->
  <div class="form-group">
    <% comment_text_class = "form-control" %>
    <% comment_text_was_invalid = exhibit_comment.errors.include?(:comment_text) %>

    <% if was_validated %>
      <% if comment_text_was_invalid %>
        <% comment_text_class << " is-invalid" %>
      <% else %>
        <% comment_text_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :comment_text %>
    <!-- Input for comment_text start -->
    <%= f.text_area :comment_text, class: comment_text_class, placeholder: "Enter comment text" %>
    <!-- Input for comment_text end -->
    <% if comment_text_was_invalid %>
      <% exhibit_comment.errors.full_messages_for(:comment_text).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <!-- Label and input for comment_text end -->
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
