<div class="card mb-3">
  <h2 class="card-header h4">
    Exhibit #<%= exhibit.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Exhibit name</dt>
      <dd><%= exhibit.exhibit_name %></dd>

      <dt>Attraction</dt>
      <dd>
        <% if @exhibit.attraction.present? %>
          <%= link_to exhibit.attraction, exhibit.attraction %>
        <% end %>
      </dd>

      <dt>Exhibit description</dt>
      <dd><%= exhibit.exhibit_description %></dd>

      <dt>Exhibit image</dt>
      <dd>
        <%= cl_image_tag @exhibit.exhibit_image, class: "img-fluid" %>
      </dd>

      <dt>Exhibit location</dt>
      <dd>
        <div>
          <%= render partial: "exhibits/one_photo_map" %>
        </div>
      </dd>

      <dt>Status</dt>
      <dd><%= exhibit.status_id %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back exhibit, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_exhibit_url(exhibit), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to exhibit, method: :delete, data: { confirm: "Do you really want to delete this exhibit?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(exhibit.updated_at) %> ago
  </div>
</div>
