<%= form_with(model: @recording, local: true) do |f| %>

  <%= f.hidden_field :exhibit_id, value: @exhibit.id %>

  <div class="form-group">
    <%= f.label :audio_upload %>

    <%= f.file_field :audio_upload, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :video_upload %>

    <%= f.text_field :video_upload, class: "form-control" %>
  </div>

  <%= f.submit "Create recording", class: "btn btn-block btn-outline-secondary" %>
<% end %>
