<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render object: @exhibit, partial: "card", as: :exhibit %>
  </div>
</div>

  <!-- Show Page Customization starts -->
<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "exhibits/exhibit_exhibit_comments" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "exhibits/exhibit_bookmarks" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "exhibits/exhibit_recordings" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "exhibits/exhibit_requests" %>
  </div>
</div>

<div class="row justify-content-center mb-3">
  <div class="col-md-8">
    <%= render partial: "exhibits/exhibit_users" %>
  </div>
</div>
  <!-- Show Page Customization end -->
