<div class="card mb-3">
  <h2 class="card-header h4">
    User #<%= user.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>First name</dt>
      <!-- Display first_name start -->
      <dd><%= user.first_name %></dd>
      <!-- Display first_name end -->

      <dt>Last name</dt>
      <!-- Display last_name start -->
      <dd><%= user.last_name %></dd>
      <!-- Display last_name end -->

      <dt>Email address</dt>
      <!-- Display email_address start -->
      <dd><%= user.email_address %></dd>
      <!-- Display email_address end -->

      <dt>Password</dt>
      <!-- Display password start -->
      <dd><%= user.password %></dd>
      <!-- Display password end -->

      <dt>Home city</dt>
      <!-- Display home_city start -->
      <dd><%= user.home_city %></dd>
      <!-- Display home_city end -->

      <dt>Home state</dt>
      <!-- Display home_state start -->
      <dd><%= user.home_state %></dd>
      <!-- Display home_state end -->

      <dt>Home country</dt>
      <!-- Display home_country start -->
      <dd><%= user.home_country %></dd>
      <!-- Display home_country end -->

      <dt>User image</dt>
      <!-- Display user_image start -->
      <dd>
        <%= cl_image_tag @user.user_image, class: "img-fluid" %>
      </dd>
      <!-- Display user_image end -->

      <dt>User bio</dt>
      <!-- Display user_bio start -->
      <dd><%= user.user_bio %></dd>
      <!-- Display user_bio end -->

      <dt>User type</dt>
      <!-- Display user_type_id start -->
      <dd>
        <% if @user.user_type.present? %>
          <%= link_to user.user_type, user.user_type %>
        <% end %>
      </dd>
      <!-- Display user_type_id end -->

      <dt>Demographic</dt>
      <!-- Display demographic_id start -->
      <dd>
        <% if @user.demographic.present? %>
          <%= link_to user.demographic, user.demographic %>
        <% end %>
      </dd>
      <!-- Display demographic_id end -->

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back user, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <!-- Edit link user start -->
      <div class="col">
        <%= link_to edit_user_url(user), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>
      <!-- Edit link user end -->

      <!-- Delete link user start -->
      <div class="col">
        <%= link_to user, method: :delete, data: { confirm: "Do you really want to delete this user?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
      <!-- Delete link user end -->
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(user.updated_at) %> ago
  </div>
</div>
