<div class="card mb-3">
  <h2 class="card-header h4">
    User #<%= user.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>First name</dt>
      <dd><%= user.first_name %></dd>

      <dt>Last name</dt>
      <dd><%= user.last_name %></dd>

      <dt>Email address</dt>
      <dd><%= user.email_address %></dd>

      <dt>Password</dt>
      <dd><%= user.password %></dd>

      <dt>Home city</dt>
      <dd><%= user.home_city %></dd>

      <dt>Home state</dt>
      <dd><%= user.home_state %></dd>

      <dt>Home country</dt>
      <dd><%= user.home_country %></dd>

      <dt>User image</dt>
      <dd>
        <%= cl_image_tag @user.user_image, class: "img-fluid" %>
      </dd>

      <dt>User bio</dt>
      <dd><%= user.user_bio %></dd>

      <dt>User type</dt>
      <dd>
        <% if @user.user_type.present? %>
          <%= link_to user.user_type, user.user_type %>
        <% end %>
      </dd>

      <dt>Demographic</dt>
      <dd>
        <% if @user.demographic.present? %>
          <%= link_to user.demographic, user.demographic %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back user, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_user_url(user), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to user, method: :delete, data: { confirm: "Do you really want to delete this user?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(user.updated_at) %> ago
  </div>
</div>
