<% was_validated = user.errors.any? %>

<%= form_with(model: user, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% first_name_class = "form-control" %>
    <% first_name_was_invalid = user.errors.include?(:first_name) %>

    <% if was_validated %>
      <% if first_name_was_invalid %>
        <% first_name_class << " is-invalid" %>
      <% else %>
        <% first_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: first_name_class, placeholder: "Enter first name" %>
    <% if first_name_was_invalid %>
      <% user.errors.full_messages_for(:first_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% last_name_class = "form-control" %>
    <% last_name_was_invalid = user.errors.include?(:last_name) %>

    <% if was_validated %>
      <% if last_name_was_invalid %>
        <% last_name_class << " is-invalid" %>
      <% else %>
        <% last_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: last_name_class, placeholder: "Enter last name" %>
    <% if last_name_was_invalid %>
      <% user.errors.full_messages_for(:last_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% email_address_class = "form-control" %>
    <% email_address_was_invalid = user.errors.include?(:email_address) %>

    <% if was_validated %>
      <% if email_address_was_invalid %>
        <% email_address_class << " is-invalid" %>
      <% else %>
        <% email_address_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :email_address %>
    <%= f.text_field :email_address, class: email_address_class, placeholder: "Enter email address" %>
    <% if email_address_was_invalid %>
      <% user.errors.full_messages_for(:email_address).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% password_class = "form-control" %>
    <% password_was_invalid = user.errors.include?(:password) %>

    <% if was_validated %>
      <% if password_was_invalid %>
        <% password_class << " is-invalid" %>
      <% else %>
        <% password_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :password %>
    <%= f.text_field :password, class: password_class, placeholder: "Enter password" %>
    <% if password_was_invalid %>
      <% user.errors.full_messages_for(:password).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% home_city_class = "form-control" %>
    <% home_city_was_invalid = user.errors.include?(:home_city) %>

    <% if was_validated %>
      <% if home_city_was_invalid %>
        <% home_city_class << " is-invalid" %>
      <% else %>
        <% home_city_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :home_city %>
    <%= f.text_field :home_city, class: home_city_class, placeholder: "Enter home city" %>
    <% if home_city_was_invalid %>
      <% user.errors.full_messages_for(:home_city).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% home_state_class = "form-control" %>
    <% home_state_was_invalid = user.errors.include?(:home_state) %>

    <% if was_validated %>
      <% if home_state_was_invalid %>
        <% home_state_class << " is-invalid" %>
      <% else %>
        <% home_state_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :home_state %>
    <%= f.text_field :home_state, class: home_state_class, placeholder: "Enter home state" %>
    <% if home_state_was_invalid %>
      <% user.errors.full_messages_for(:home_state).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% home_country_class = "form-control" %>
    <% home_country_was_invalid = user.errors.include?(:home_country) %>

    <% if was_validated %>
      <% if home_country_was_invalid %>
        <% home_country_class << " is-invalid" %>
      <% else %>
        <% home_country_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :home_country %>
    <%= f.text_field :home_country, class: home_country_class, placeholder: "Enter home country" %>
    <% if home_country_was_invalid %>
      <% user.errors.full_messages_for(:home_country).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% user_image_class = "form-control" %>
    <% user_image_was_invalid = user.errors.include?(:user_image) %>

    <% if was_validated %>
      <% if user_image_was_invalid %>
        <% user_image_class << " is-invalid" %>
      <% else %>
        <% user_image_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_image %>
    <%= f.file_field :user_image, class: "form-control" %>
    <% if user_image_was_invalid %>
      <% user.errors.full_messages_for(:user_image).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% user_bio_class = "form-control" %>
    <% user_bio_was_invalid = user.errors.include?(:user_bio) %>

    <% if was_validated %>
      <% if user_bio_was_invalid %>
        <% user_bio_class << " is-invalid" %>
      <% else %>
        <% user_bio_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_bio %>
    <%= f.text_area :user_bio, class: user_bio_class, placeholder: "Enter user bio" %>
    <% if user_bio_was_invalid %>
      <% user.errors.full_messages_for(:user_bio).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% user_type_class = "form-control" %>
    <% user_type_was_invalid = user.errors.include?(:user_type) %>

    <% if was_validated %>
      <% if user_type_was_invalid %>
        <% user_type_class << " is-invalid" %>
      <% else %>
        <% user_type_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :user_type_id %>
    <%= f.collection_select :user_type_id, UserType.all, :id, :to_s, {}, class: "form-control" %>
    <% if user_type_was_invalid %>
      <% user.errors.full_messages_for(:user_type).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% demographic_class = "form-control" %>
    <% demographic_was_invalid = user.errors.include?(:demographic) %>

    <% if was_validated %>
      <% if demographic_was_invalid %>
        <% demographic_class << " is-invalid" %>
      <% else %>
        <% demographic_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :demographic_id %>
    <%= f.collection_select :demographic_id, VisitorDemographic.all, :id, :to_s, {}, class: "form-control" %>
    <% if demographic_was_invalid %>
      <% user.errors.full_messages_for(:demographic).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
