<%= form_with(model: @exhibit_comment, local: true) do |f| %>

  <%= f.hidden_field :commenter_id, value: @user.id %>

  <div class="form-group">
    <%= f.label :exhibit_id %>

    <%= f.collection_select :exhibit_id, Exhibit.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :comment_text %>
    <%= f.text_area :comment_text, rows: "3", class: "form-control" %>
  </div>

  <%= f.submit "Create exhibit comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
