<div class="card mb-3">
  <h2 class="card-header h4">
    Visitor Demographic #<%= visitor_demographic.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Demographic name</dt>
      <dd><%= visitor_demographic.demographic_name %></dd>

      <dt>Demographic description</dt>
      <dd><%= visitor_demographic.demographic_description %></dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back visitor_demographic, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_visitor_demographic_url(visitor_demographic), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to visitor_demographic, method: :delete, data: { confirm: "Do you really want to delete this visitor_demographic?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(visitor_demographic.updated_at) %> ago
  </div>
</div>
