<!-- Form user start -->
<%= form_with(model: @user, local: true) do |f| %>
<!-- Form user end -->

  <!-- Label and input for first_name start -->
  <div class="form-group">
    <%= f.label :first_name %>

    <!-- Input for first_name start -->
    <%= f.text_field :first_name, class: "form-control" %>
    <!-- Input for first_name end -->
  </div>
  <!-- Label and input for first_name end -->

  <!-- Label and input for last_name start -->
  <div class="form-group">
    <%= f.label :last_name %>

    <!-- Input for last_name start -->
    <%= f.text_field :last_name, class: "form-control" %>
    <!-- Input for last_name end -->
  </div>
  <!-- Label and input for last_name end -->

  <!-- Label and input for email_address start -->
  <div class="form-group">
    <%= f.label :email_address %>

    <!-- Input for email_address start -->
    <%= f.text_field :email_address, class: "form-control" %>
    <!-- Input for email_address end -->
  </div>
  <!-- Label and input for email_address end -->

  <!-- Label and input for password start -->
  <div class="form-group">
    <%= f.label :password %>

    <!-- Input for password start -->
    <%= f.text_field :password, class: "form-control" %>
    <!-- Input for password end -->
  </div>
  <!-- Label and input for password end -->

  <!-- Label and input for home_city start -->
  <div class="form-group">
    <%= f.label :home_city %>

    <!-- Input for home_city start -->
    <%= f.text_field :home_city, class: "form-control" %>
    <!-- Input for home_city end -->
  </div>
  <!-- Label and input for home_city end -->

  <!-- Label and input for home_state start -->
  <div class="form-group">
    <%= f.label :home_state %>

    <!-- Input for home_state start -->
    <%= f.text_field :home_state, class: "form-control" %>
    <!-- Input for home_state end -->
  </div>
  <!-- Label and input for home_state end -->

  <!-- Label and input for home_country start -->
  <div class="form-group">
    <%= f.label :home_country %>

    <!-- Input for home_country start -->
    <%= f.text_field :home_country, class: "form-control" %>
    <!-- Input for home_country end -->
  </div>
  <!-- Label and input for home_country end -->

  <!-- Label and input for user_image start -->
  <div class="form-group">
    <%= f.label :user_image %>

    <!-- Input for user_image start -->
    <%= f.file_field :user_image, class: "form-control" %>
    <!-- Input for user_image end -->
  </div>
  <!-- Label and input for user_image end -->

  <!-- Label and input for user_bio start -->
  <div class="form-group">
    <%= f.label :user_bio %>
    <!-- Input for user_bio start -->
    <%= f.text_area :user_bio, rows: "3", class: "form-control" %>
    <!-- Input for user_bio end -->
  </div>
  <!-- Label and input for user_bio end -->

  <!-- Label and input for user_type_id start -->
  <div class="form-group">
    <%= f.label :user_type_id %>

    <!-- Input for user_type_id start -->
    <%= f.collection_select :user_type_id, UserType.all, :id, :to_s, {}, class: "form-control" %>
    <!-- Input for user_type_id end -->
  </div>
  <!-- Label and input for user_type_id end -->

  <!-- Label and input for demographic_id start -->
  <!-- Input for demographic_id start -->
  <%= f.hidden_field :demographic_id, value: @visitor_demographic.id %>
  <!-- Input for demographic_id end -->
  <!-- Label and input for demographic_id end -->

  <%= f.submit "Create user", class: "btn btn-block btn-outline-secondary" %>
<% end %>
