<%= form_with(model: @request, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :request_name %>

    <%= f.text_field :request_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :request_description %>
    <%= f.text_area :request_description, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :status_id %>

    <%= f.collection_select :status_id, ApprovalStatus.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :approver_id %>

    <%= f.collection_select :approver_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :requestor_id %>

    <%= f.text_field :requestor_id, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :exhibit_id %>

    <%= f.collection_select :exhibit_id, Exhibit.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :attraction_id, value: @attraction.id %>

  <%= f.submit "Create request", class: "btn btn-block btn-outline-secondary" %>
<% end %>
