<%= form_with(model: @exhibit, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :exhibit_name %>

    <%= f.text_field :exhibit_name, class: "form-control" %>
  </div>

  <%= f.hidden_field :attraction_id, value: @attraction.id %>

  <div class="form-group">
    <%= f.label :exhibit_description %>
    <%= f.text_area :exhibit_description, rows: "3", class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :exhibit_image %>

    <%= f.file_field :exhibit_image, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :exhibit_location %>

    <%= f.text_field :exhibit_location, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :status_id %>

    <%= f.text_field :status_id, class: "form-control" %>
  </div>

  <%= f.submit "Create exhibit", class: "btn btn-block btn-outline-secondary" %>
<% end %>
