<%= form_with(model: @attraction_comment, local: true) do |f| %>

  <div class="form-group">
    <%= f.label :commenter_id %>

    <%= f.collection_select :commenter_id, User.all, :id, :to_s, {}, class: "form-control" %>
  </div>

  <%= f.hidden_field :attraction_id, value: @attraction.id %>

  <div class="form-group">
    <%= f.label :comment_text %>
    <%= f.text_area :comment_text, rows: "3", class: "form-control" %>
  </div>

  <%= f.submit "Create attraction comment", class: "btn btn-block btn-outline-secondary" %>
<% end %>
