<div class="card mb-3">
  <h2 class="card-header h4">
    Attraction #<%= attraction.id %>
  </h2>

  <div class="card-body">
    <dl class="mb-1">
      <dt>Attraction name</dt>
      <dd><%= attraction.attraction_name %></dd>

      <dt>Attraction location</dt>
      <dd>
        <div>
          <%= render partial: "attractions/one_photo_map" %>
        </div>
      </dd>

      <dt>Attraction description</dt>
      <dd><%= attraction.attraction_description %></dd>

      <dt>Attraction image</dt>
      <dd>
        <%= cl_image_tag @attraction.attraction_image, class: "img-fluid" %>
      </dd>

      <dt>Status</dt>
      <dd><%= attraction.status_id %></dd>

      <dt>Phone number</dt>
      <dd><%= attraction.phone_number %></dd>

      <dt>Email address</dt>
      <dd><%= attraction.email_address %></dd>

      <dt>Hours of operation</dt>
      <dd><%= attraction.hours_of_operation %></dd>

      <dt>Cost of entry</dt>
      <dd><%= attraction.cost_of_entry %></dd>

      <dt>Attraction category</dt>
      <dd>
        <% if @attraction.attraction_category.present? %>
          <%= link_to attraction.attraction_category, attraction.attraction_category %>
        <% end %>
      </dd>

    </dl>

    <div class="row">
      <div class="col">
        <%= link_to_show_or_back attraction, '<i class="fas fa-search-plus"></i>'.html_safe, '<i class="fas fa-chevron-left"></i>'.html_safe, class: "btn btn-block btn-outline-secondary" %>
      </div>

      <div class="col">
        <%= link_to edit_attraction_url(attraction), class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-edit"></i>
        <% end %>
      </div>

      <div class="col">
        <%= link_to attraction, method: :delete, data: { confirm: "Do you really want to delete this attraction?" }, class: "btn btn-block btn-outline-secondary" do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>

  <div class="card-footer text-muted">
    Last updated <%= time_ago_in_words(attraction.updated_at) %> ago
  </div>
</div>
