<% was_validated = attraction.errors.any? %>

<%= form_with(model: attraction, local: true, novalidate: true, class: "mb-3") do |f| %>
  <div class="form-group">
    <% attraction_name_class = "form-control" %>
    <% attraction_name_was_invalid = attraction.errors.include?(:attraction_name) %>

    <% if was_validated %>
      <% if attraction_name_was_invalid %>
        <% attraction_name_class << " is-invalid" %>
      <% else %>
        <% attraction_name_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :attraction_name %>
    <%= f.text_field :attraction_name, class: attraction_name_class, placeholder: "Enter attraction name" %>
    <% if attraction_name_was_invalid %>
      <% attraction.errors.full_messages_for(:attraction_name).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% attraction_location_class = "form-control" %>
    <% attraction_location_was_invalid = attraction.errors.include?(:attraction_location) %>

    <% if was_validated %>
      <% if attraction_location_was_invalid %>
        <% attraction_location_class << " is-invalid" %>
      <% else %>
        <% attraction_location_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :attraction_location %>
    <%= f.text_field :attraction_location, class: attraction_location_class, placeholder: "Enter attraction location" %>
    <% if attraction_location_was_invalid %>
      <% attraction.errors.full_messages_for(:attraction_location).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% attraction_description_class = "form-control" %>
    <% attraction_description_was_invalid = attraction.errors.include?(:attraction_description) %>

    <% if was_validated %>
      <% if attraction_description_was_invalid %>
        <% attraction_description_class << " is-invalid" %>
      <% else %>
        <% attraction_description_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :attraction_description %>
    <%= f.text_area :attraction_description, class: attraction_description_class, placeholder: "Enter attraction description" %>
    <% if attraction_description_was_invalid %>
      <% attraction.errors.full_messages_for(:attraction_description).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% attraction_image_class = "form-control" %>
    <% attraction_image_was_invalid = attraction.errors.include?(:attraction_image) %>

    <% if was_validated %>
      <% if attraction_image_was_invalid %>
        <% attraction_image_class << " is-invalid" %>
      <% else %>
        <% attraction_image_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :attraction_image %>
    <%= f.file_field :attraction_image, class: "form-control" %>
    <% if attraction_image_was_invalid %>
      <% attraction.errors.full_messages_for(:attraction_image).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% status_class = "form-control" %>
    <% status_was_invalid = attraction.errors.include?(:status) %>

    <% if was_validated %>
      <% if status_was_invalid %>
        <% status_class << " is-invalid" %>
      <% else %>
        <% status_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :status_id %>
    <%= f.number_field :status_id, class: status_class, placeholder: "Enter status" %>
    <% if status_was_invalid %>
      <% attraction.errors.full_messages_for(:status).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% phone_number_class = "form-control" %>
    <% phone_number_was_invalid = attraction.errors.include?(:phone_number) %>

    <% if was_validated %>
      <% if phone_number_was_invalid %>
        <% phone_number_class << " is-invalid" %>
      <% else %>
        <% phone_number_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :phone_number %>
    <%= f.text_field :phone_number, class: phone_number_class, placeholder: "Enter phone number" %>
    <% if phone_number_was_invalid %>
      <% attraction.errors.full_messages_for(:phone_number).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% email_address_class = "form-control" %>
    <% email_address_was_invalid = attraction.errors.include?(:email_address) %>

    <% if was_validated %>
      <% if email_address_was_invalid %>
        <% email_address_class << " is-invalid" %>
      <% else %>
        <% email_address_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :email_address %>
    <%= f.text_field :email_address, class: email_address_class, placeholder: "Enter email address" %>
    <% if email_address_was_invalid %>
      <% attraction.errors.full_messages_for(:email_address).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% hours_of_operation_class = "form-control" %>
    <% hours_of_operation_was_invalid = attraction.errors.include?(:hours_of_operation) %>

    <% if was_validated %>
      <% if hours_of_operation_was_invalid %>
        <% hours_of_operation_class << " is-invalid" %>
      <% else %>
        <% hours_of_operation_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :hours_of_operation %>
    <%= f.text_field :hours_of_operation, class: hours_of_operation_class, placeholder: "Enter hours of operation" %>
    <% if hours_of_operation_was_invalid %>
      <% attraction.errors.full_messages_for(:hours_of_operation).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% cost_of_entry_class = "form-control" %>
    <% cost_of_entry_was_invalid = attraction.errors.include?(:cost_of_entry) %>

    <% if was_validated %>
      <% if cost_of_entry_was_invalid %>
        <% cost_of_entry_class << " is-invalid" %>
      <% else %>
        <% cost_of_entry_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :cost_of_entry %>
    <%= f.text_field :cost_of_entry, class: cost_of_entry_class, placeholder: "Enter cost of entry" %>
    <% if cost_of_entry_was_invalid %>
      <% attraction.errors.full_messages_for(:cost_of_entry).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <div class="form-group">
    <% attraction_category_class = "form-control" %>
    <% attraction_category_was_invalid = attraction.errors.include?(:attraction_category) %>

    <% if was_validated %>
      <% if attraction_category_was_invalid %>
        <% attraction_category_class << " is-invalid" %>
      <% else %>
        <% attraction_category_class << " is-valid" %>
      <% end %>
    <% end %>

    <%= f.label :attraction_category_id %>
    <%= f.collection_select :attraction_category_id, AttractionCategory.all, :id, :to_s, {}, class: "form-control" %>
    <% if attraction_category_was_invalid %>
      <% attraction.errors.full_messages_for(:attraction_category).each do |message| %>
        <div class="invalid-feedback d-flex">
          <%= message %>
        </div>
      <% end %>
    <% end %>
  </div>
  <%= f.button class: "btn btn-outline-secondary btn-block" %>
<% end %>
